@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-sawyer-50: #fff5f4;
    --color-sawyer-100: #ffe3e1;
    --color-sawyer-200: #ffcbc8;
    --color-sawyer-300: #ffa29d;
    --color-sawyer-400: #ff7a74;
    --color-sawyer-500: #ff5a52;
    --color-sawyer-600: #e83e36;
    --color-sawyer-700: #c42d26;
    --color-sawyer-800: #a22923;
    --color-sawyer-900: #862823;
}
